.box{
    margin: 30px;
}


.header{
    width: 466px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description{
    display: flex;
    flex-direction: column;
}

.footer{
    width: 466px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer  span{
    margin-left: 5px;
    cursor: pointer;
}

.link{
    font-weight: bold;
}