.box{
    margin: 30px;
}


.header{
    width: 466px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description{
    display: flex;
    flex-direction: column;
}

.footer{
    width: 466px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer  span{
    margin-left: 5px;
    cursor: pointer;
}

.link{
    font-weight: bold;
}

i{
    cursor: pointer;
}
.toggle-box{
    cursor: pointer;
}
.modal-footer{
    background-color: rgb(241, 241, 241);
}

.list{
    padding: 0;
    list-style: none;
}

.listItem span{
    margin: 5px;
}